.DS_Store

*.h5
*.safetensors
*.ipynb_checkpoints
*.npy
*.png

item_model
polyvore_outfits/images
polyvore_outfits/embeddings.npy
polyvore_outfits/item_metadata.json
polyvore_outfits/outfits_metadata.json
sshs.txt
master_script.sh
